.footer {
    display: flex;
    align-items: center;
    background: rebeccapurple;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
    padding: 1rem;
}

.footer_title {
    margin-right: auto;
    font-size: 1.45rem;
    padding: 12px 16px;
}

.footer_item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}

@media (max-width: 440px) {
    .footer_title {
        font-size: .75rem;
    }
    .footer_item {
        font-size: .65rem;
    }
}